SPRING_PROFILES_ACTIVE=prod

CADDY_EMAIL=admin@example.com

MYSQL_HOST=db
MYSQL_DATABASE=keeper
MYSQL_USER=keeper
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root

REDIS_HOST=redis
REDIS_PORT=6379

SPRING_JWT_SECRET=change-me-jwt-secret

MAIL_USERNAME=mailer@example.com
MAIL_PASSWORD=change-me-mail-password
TZ=Asia/Seoul